
#myCalendar{
    float:left;
    width:200px;
}

#container{
    margin-top: 5px;
    float:right;
    border: rgb(122, 122, 122) 1px solid;
    box-shadow: 0px 0px 20px 10px darkgrey;
}

#amOrPm{
    border-bottom: rgb(122, 122, 122) 1px solid;
    background: lightgray;
}

#hours{
    border-bottom: rgb(122, 122, 122) 1px solid;
}

.hour{
    text-align: center;
    display:inline-block;
    width:30px;
    border-right: gray 1px solid;
}

#pm{
    text-align: center;
    width: 360px;
    display: inline-block;
}

#am{
    text-align: center;
    width: 360px;
    display: inline-block;
    border-right: gray 1px solid;
}

#barBlock{
    height:58px;
}

.block{
    border-right: gray 1px solid;
    display:inline-block;
    height:58px;
    width:30px;
}

#block24{
    border-right:none;
}

#hour23{
    border-right:none;
}

#meetingInfo{
    float: right;
    margin-right: 190px;
    margin-top: 30px;
    
}

#membersCard{
    float:left;
    width: 500px;
}

#warning{
    color: red;
    font-size: 80%;
    padding-bottom: 10px;
}

#refreshButton{
    margin-top: 10px;
}

#selDateText{
    text-align: center;
    font-size: 150%;
    padding-top: 10px;
}

#checkmarkImage{
    width: 20px;
    padding-bottom: 5px;
}

#waitingGif{
    width: 31px;
    padding-top: 6px;
}
