.emails{
    margin: 10px 0;
}

#dateAndTime{
    border-bottom: lightgray 1px solid;
    padding-bottom: 10px;
}

button{
    margin: 15px;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid gray;
}