.emails{
    margin: 10px 0;
}

#dateAndTime{
    margin-top:30px;
    border-bottom: lightgray 1px solid;
    padding-bottom: 10px;
}

button{
    margin: 15px;
}

#plus{
    margin-bottom: 2px;
    margin-right:2px;
    width:20px;
}

#dateForm{
    width: 150px;
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid gray;
}

input[type=email] {
    background: transparent;
    border: none;
    border-bottom: 1px solid gray;
}

.remove{
    cursor: pointer;
    width:10px;
}

.memberCard{
    padding: 10px;
    margin: 10px 0px;
    width: 250px;
}

.error{
    color:red;
    font-size: 80%;
    padding-left: 15px;
}

#errorContainer{
    padding-bottom: 20px;
}

mat-form-field{
    width:40px;
}