<mat-card id="dateAndTime">
    <span>This group must meet before </span>
    <mat-form-field id="dateForm">
        <input [min]="today" [(ngModel)]="date" matInput [matDatepicker]="picker" (focus)="picker.open()" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <span> for </span>
    <mat-form-field>
        <mat-select [(value)]="numHours">
            <mat-option *ngFor="let option of hoursArray" value={{option}}>{{option}}</mat-option>
        </mat-select>
    </mat-form-field>
    <span> hour(s) and </span>
    <mat-form-field>
        <mat-select [(value)]="numMinutes">
            <mat-option *ngFor="let option of minutesArray" value={{option}}>{{option}}</mat-option>
        </mat-select>
    </mat-form-field>
    <span> minutes.</span>
</mat-card>

<mat-card class="memberCard" *ngFor="let num of numMembersArray">
    <span>{{num}}. </span>
    <input class="emails" type="email" (input)="emailChange($event,num)" [(ngModel)]="members[num]" placeholder="Email">
    <span *ngIf="num!=1" (click)="remove(num)">
        <img class="remove" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/2000px-Red_X.svg.png">
    </span>
</mat-card>

<div>
    <button type="button" class="btn btn-primary" (click)="addMember()">
        <img id="plus" src="http://www.clker.com/cliparts/8/0/j/f/r/K/plus-hi.png"> Add Member</button>
</div>

<div>
    <button type="button" class="btn btn-success" (click)="email()">Invite all members</button>
</div>

<div id="errorContainer" *ngIf="hasErrors">
    <div class="error" *ngIf="noDate">
        Please include a date.
    </div>
    <div class="error" *ngIf="noTime">
        Please include a estimated time length.
    </div>
    <div class="error" *ngIf="notAllFilledIn">
        Please fill in all emails for your members.
    </div>
</div>