.date{
    margin: 10px 0;
}

button{
    margin: 15px;
}

input[type=time] {
    background: transparent;
    border: none;
    border-bottom: 1px solid gray;
}

#plus{
    margin-bottom: 2px;
    margin-right:2px;
    width:20px;
}

mat-card{
    padding:10px;
    margin:10px;
}

.times{
    margin-left:20px;
}

.remove{
    cursor: pointer;
    width:10px;
}