.date{
    margin: 10px 0;
}

button{
    margin: 15px;
}

input[type=time] {
    background: transparent;
    border: none;
    border-bottom: 1px solid gray;
}

.times{
    margin-left:20px;
}

.remove{
    cursor: pointer;
    width:10px;
}