#calendar{
    -webkit-mask-image: -webkit-linear-gradient(right, rgba(0,0,0,1), rgba(0,0,0,0));
    width: 280px;
    height: 150px;
    float:right;
}

#headerBody{
    background-image: url('../assets/images/backgroundBlue.jpg');
    background-size: contain;
    width:100%;
    height:150px;
    box-shadow: 0px 10px 10px #888888;
}

#title{
    font-family: 'Montserrat', sans-serif;
    color:white;
    width: 500px;
    font-size:50px;
    /* float:left; */
    padding: 20px 0px 0px 40px;
    cursor: pointer;
}

#subtitle{
    font-family: 'Montserrat', sans-serif;
    color:white;
    width: 510px;
    font-size:20px;
    /* float:left; */
    padding: 0px 0px 0px 50px;
    cursor: pointer;
}

#titleGroup{
float:left;
}

#content{
    padding:20px;
    /* height:100%; */
    height: 410px;
    width:80%;
    margin:0 auto;
    box-shadow: -60px 0px 100px -90px #000000, 60px 0px 100px -90px #000000;
}

#content-container{
    padding:10px;
}